<h1> Basketball Teams Index </h1>

<a href="/basketball_teams/new">New Basketball Team</a>

<% @teams.each do |team| %>
<h3>Name: <%= team.name %> <%= team.created_at %> </h3>
<%= link_to "Update Team", "/basketball_teams/#{team.id}/edit"%>
<%= link_to "Delete Team", "/basketball_teams/#{team.id}", method: :delete%>
<% end %>
