<h1>Football Teams Index</h1>
<%= link_to "Create New Football Team", "/football_teams/new" %>
<% @teams.each do |team| %>
  <h3><%= team.name %></h3>
  <%= link_to "Edit #{team.name}", "/football_teams/#{team.id}/edit" %>
  <%= link_to "Delete #{team.name}", "/football_teams/#{team.id}/destroy", method: :delete %>
<% end %>
